.chat-window{
    border: solid;
    width: 400px;
    height: 500px;
    margin-bottom: 30px;
    background-color: brown;
}

#user_input{
    width: 100px;
    text-align: center;
}
#username-form{
    position: fixed;
    bottom: 0px;
    margin: 400px;
    margin-left: 20px;
    margin-bottom: 180px;
}
#submit-form{
    position: absolute;
    bottom: 0px;
    left: 0%;
    margin-left: 30px;
    margin-bottom: 155px;
}

#new-message{
    width: 300px;
}

ul li{
    background-color: rgb(174, 249, 174);
    list-style-type: none;
    border-radius: 5pt;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

