h1{
    margin-left: 400px;
}
.chat-join-form{
    margin-top: 50px;
    border: solid;
    width: 800px;
    height: 600px;
    margin-bottom: 30px;
    background-color: rgb(28, 119, 57);
    border-radius: 10px;
    margin-left: 390px;
}
.chat-join-form input{
    width: 400px;
    padding: 10px;
    margin-left: 150pt;
    margin-top: 100px;
    margin-bottom: -100px;  
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 20pt;
}
#logo{
    width: 300px;
    height: 100px; 
    margin-left: 30%;
    margin-top: 100px ;
}

#join-btn button{
    margin-top: 120px;
    margin-left: 25%;
    width: 400px;
    height: 70px;    
}

#new-message{
    width: 600px;
}

ul li{
    background-color: rgb(174, 249, 174);
    list-style-type: none;
    border-radius: 5pt;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

