h1{
    margin-left: 400px;
}
.chat-window{
    border: solid;
    width: 800px;
    height: 600px;
    margin-bottom: 30px;
    background-color: brown;
    border-radius: 10px;
    margin-left: 390px;
}

#user_input{
    width: 100px;
    text-align: left;
    width: 600px;
}
#username-form{
    position: fixed;
    bottom: 0px;
    margin: 400px;
    margin-left: 50px;
    margin-bottom: 80px;
}
#submit-form{
    position: fixed;
    bottom: 0px;
    left: 0%;
    margin-left: 450px;
    margin-bottom: 60px;
}

#new-message{
    width: 600px;
}

ul li{
    background-color: rgb(174, 249, 174);
    list-style-type: none;
    border-radius: 5pt;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

