<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>

  <body>
    <h1>Chatapp</h1>
    <div class="chat-window">
      <!-- Unordered list where all message will appear -->
      <ul id="messageslist"></ul>
      <form id="submit-form" action="">
        <input id="new-message" placeholder="Send a message" /><button>Send</button></form>

      <form id="username-form">
        <input type="text" id="user_input" placeholder="Enter username" />
        <input
          type="button"
          id="submit_btn"
          value="Join"
          onclick="get_name()"
        />

      </form>
    </div>
  </body> 
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();


    var submitform = document.getElementById("submit-form");
    var newmessage = document.getElementById("new-message");
    var username = document.getElementById("username-form")

    // Maak een eventlistener aan die luistert naar de submit button en maak vervolgens
    // een functie aan die de waardes uit de inputvelden haalt als er iets wordt ingevuld en deze dan verstuurd (emit)
    // met de waarde van de inputveld en reset de waarde van de input veld na het drukken op submit.
    submitform.addEventListener("submit", function (event) {
      event.preventDefault();
      if (newmessage.value != " ") {
        socket.emit("chat message", newmessage.value, username.value);
        newmessage.value = " ";
      }
    });

    // Listen to socket io.events and if there is a new message event add a new list item to the list.
    socket.on("chat message", function (message) {
      var item = document.createElement("li");
      item.textContent = message;
      messageslist.appendChild(item);
    });


    // logs the id of the connected socket each time the socket is connected
    socket.on('new user', (username) => {
      console.log(`${username} has joined the chat!`)
    })

    socket.on()


  </script>
</html>

